body {
	background-color: white;
	padding-top: 1.5vw;
	padding-left: 1.5vw;
	max-width: 1800px;
	margin: auto;
}


.box0 {
	display: flex;
	justify-content: flex-end;
}

.box1 {
	display: flex;
	justify-content: flex-start;
}

.box2 {
	display: flex;
	justify-content: center;
}

img {
	width: 16vw;
	max-width: 400px;
	padding-top: 2vh;
	padding-bottom: 10vh;
}

section7 {
	position: absolute;
	padding-right: 86vw;
}

section0 {
	position: fixed;
	text-align: right;
	padding: 2vw;
	font-family: 'Karla', sans-serif;
	text-align: left;
	letter-spacing: .2rem;
	font-size: 1.8vh;
	line-height: 200%;
	color: lightgreen;
}

a {
	font
	font-family: 'Karla', sans-serif;
	text-align: left;
	letter-spacing: .2rem;
	font-size: 1.8vh;
	line-height: 200%;
	color: lightgreen;
	text-decoration: none;
}

section1 {
	font-family: 'Homemade Apple', cursive;
	font-size: 3vh;
	line-height: 200%;
	padding: 1.5vw;
	width: 180px;
	height: 13vh;
}

section2 {
	padding: 2vw;
	width: 250px;
	height: 7.5vh;
	border-left: 1px solid black;
}

section4 {
	padding: 1.5vw;
	width: 420px;
	height: 180px;
}

section5 {
	padding: 1vw;
	padding-right: 1vw;
	width: 180px;
	height: 6vh;
	border-right: 1px solid black;
}

section6 {
	padding: 1vw;
	padding-left: 2.5vw;
	width: 600px;
	padding-bottom: 10vh;
}

p1 {
	text-align: center;
	font-family: 'Homemade Apple', cursive;
	font-size: 4.5vh;
	line-height: 190%;
	padding: 4vw;
	width: 120vw;
	height: 30vh;
}

p2 {
	font-family: 'Karla', sans-serif;
	text-align: left;
	letter-spacing: .2rem;
	font-size: 1.8vh;
	line-height: 155%;
}

p3 {
	font-family: 'Karla', sans-serif;
	font-size: 2.2vh;
	line-height: 145%;
}


div {
	display: flex;
}
