body {
		/* font-family:monospace; */
		font-family: 'Oxanium', cursive;
		font-weight: bold;
		font-size: 16px;
		background-color: black;
}

#link {
	display: none;
}

.box {
	display: flex;
	justify-content: space-evenly
}

section1 {
	text-align: center;
	padding: 2vw;
	margin: 0.4vh;
	background-color: black;
	width: 70px;
	color: white;
	border: 1px solid white;
}

section2 {
	text-align: center;
	padding: 1vw;
	margin: 0.4vh;
	background-color: black;
	width: 50px;
	color: white;
	border: 1px solid white;
}

section3 {
	margin: 0.4vh;
	padding: 2vw;
	background-color: black;
	width: 150px;
	height: 110px;
	color: white;
	text-align: center;
	border: 1px solid white;
}

section4 {
	text-align: center;
	padding: 0.5vw;
	margin: 0.3vw;
	background-color: black;
	width: 20px;
	color: white;
	border: 1px solid white;
}

section5 {
	text-align: center;
	padding: 1vw;
	margin: 0.4vh;
	background-color: black;
	width: 50px;
	color: white;
	border: 1px solid white;
}

section1:hover {
  background-color: lightgreen;
  border-radius: 0px
}

section2:hover {
  background-color: yellow;
  border-radius: 0px
}

section3:hover {
  background-color: lightblue;
  border-radius: 0px
}

section4:hover {
  background-color: pink;
  border-radius: 0px
}

section5:hover {
  background-color: sandybrown;
  border-radius: 0px
}

a {
	margin: 0.4vh;
	background-color: black;
	width: 80px;
	color: white;
	border: 1px solid white;
}


a:hover {
	background-color: yellow;
}
